name: QuickSpin Networking

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  BUCKET_NAME: "quickspin-${{ github.repository_owner }}-backend"

permissions:
  id-token: write
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install PyYAML
        run: |
          pip install pyyaml

      - name: Convert YAML -> TFVARS.JSON
        working-directory: python
        run: |
          python yaml-to-json.py | tee terraform.tfvars.json
          mv terraform.tfvars.json ../IaC/

      - name: Connect to Cloud Provider
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Create remote backend bucket if not exists
        working-directory: IaC
        run: |
          if aws s3api head-bucket --bucket "$BUCKET_NAME" 2>/dev/null; then
            echo "Bucket $BUCKET_NAME already exists, skipping creation."
          else
            echo "Bucket $BUCKET_NAME does not exist, creating..."
            aws s3 mb "s3://$BUCKET_NAME" --region "$AWS_REGION"
          fi

      - name: Terraform Infra Deployment
        working-directory: IaC
        run: |
          terraform init -backend-config="bucket=${{ env.BUCKET_NAME }}" -backend-config="key=terraform.tfstate"
          terraform plan -out=tfplan
          terraform apply --auto-approve tfplan

      # - name: Fetch the value of key from the Parameter Store
      #   run: |
      #     aws sts get-caller-identity
      #     Generate the PEM file for logging to the instance
      #     aws ssm get get-parameter --name ${{secrets.PARAMETER_NAME}} --with-decryption --output text > login-key.pem

      # - name: Destroy Infra
      #   working-directory: IaC
      #   run: |
      #     terraform init -backend-config="bucket=${{ env.BUCKET_NAME }}" -backend-config="key=terraform.tfstate"
      #     terraform destroy --auto-approve

  ansible:
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Connect to Cloud Provider
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - name: Install Ansible
        run: |
          sudo apt-get update -qq && sudo apt-get install -y ansible -qq > /dev/null 2>&1
          ansible-galaxy collection install amazon.aws > /dev/null 2>&1

      - name: Set Ansible config path
        run: |
          ls -l $GITHUB_WORKSPACE/Ansible
          echo "ANSIBLE_CONFIG=$GITHUB_WORKSPACE/Ansible/ansible.cfg" >> $GITHUB_ENV

      - name: Checking Ansible Installation
        run: |
          ansible --version
          ls -l /opt/pipx/venvs/ansible-core/bin/
          /opt/pipx/venvs/ansible-core/bin/python -m pip install boto3 botocore

      - name: Run Ansible Inventory file
        working-directory: Ansible
        # possible flags are --graph, --list and --host
        run: |
          ansible-inventory -i inventory_aws.aws_ec2.yml --list
          ansible-playbook -i inventory_aws.aws_ec2.yml ssm-playbook.yml

      - name: List out the current folders
        run: |
          echo "Repository structure" && ls
